* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #53db34;
}


.parent{

display: flex;
align-items: center;
justify-content: center;
margin-top:50px;


}



